/*  lazy placement and background for demo */
body {
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: radial-gradient(circle, #038fc7, #026b95);
  background-size: cover;
  background-position: 50% 50%;
}

svg {
  width: 66vw;
  height: 66vh;
  margin-left: 16.666vw;
  margin-top: 16.666vh;
}

/*main-logo*/
.ha-logo path,
.ha-logo circle {
  fill: none;
  stroke: #038fc7;
  stroke-width: 0.15px;
  stroke-linejoin: round;
}
.ha-logo path.house,
.ha-logo circle.house {
  stroke-linecap: round;
  stroke-width: .2px;
}

.loading.ha-logo circle {
  animation: nodes 4s linear infinite;
}

.loading.ha-logo .house {
  fill: #fff;
  animation: house 4s ease infinite;
}

.loading.ha-logo .circut {
  animation: circut 4s cubic-bezier(0.7, 0.1, 0.1, 0.9) infinite;
}

@keyframes house {
  0% {
    stroke-dashoffset: -50;
    stroke-dasharray: 50 50;
    stroke: #99e1fd;
    fill: transparent;
  }
  45% {
    stroke-dashoffset: -100;
    stroke: #fff;
  }
  50% {
    stroke: #fff;
    fill: #fff;
  }
  60% {
    stroke: #fff;
  }
  75% {
    stroke: #fff;
  }
  80% {
    stroke-dashoffset: -100;
    fill: #fff;
  }
  100% {
    stroke-dashoffset: -130;
    stroke-dasharray: 50 50;
    stroke: #99e1fd;
    fill: transparent;
  }
}
@keyframes circut {
  0% {
    stroke-dasharray: 20 20;
    stroke-dashoffset: -20;
  }
  13% {
    stroke-dashoffset: -20;
  }
  50% {
    stroke-dashoffset: -40;
  }
  85% {
    stroke-dashoffset: -40;
    stroke: #038fc7;
  }
  100% {
    stroke-dashoffset: -60;
    stroke-dasharray: 20 20;
    stroke: #fff;
  }
}
@keyframes nodes {
  0% {
    stroke-dasharray: 0 4;
  }
  25% {
    stroke-dasharray: 0 4;
  }
  35% {
    stroke-dasharray: 4 0;
    stroke: #038fc7;
  }
  41% {
    fill: none;
  }
  42% {
    fill: #038fc7;
  }
  55% {
    fill: none;
    stroke: #038fc7;
  }
  65% {
    fill: #038fc7;
    stroke: #038fc7;
  }
  75% {
    stroke: #038fc7;
    fill: none;
    stroke-dasharray: 4 0;
  }
  85% {
    fill: #038fc7;
    stroke: #038fc7;
  }
  93% {
    fill: none;
    stroke-dasharray: 4 0;
    stroke-dashoffset: 0;
    stroke: #99e1fd;
  }
  100% {
    stroke-dashoffset: -4;
    stroke-dasharray: 0 4;
    stroke: #fff;
  }
}
.ha-logo circle:nth-child(1n) {
  animation-delay: -0.036s;
}

.ha-logo circle:nth-child(2n) {
  animation-delay: -0.072s;
}

.ha-logo circle:nth-child(3n) {
  animation-delay: -0.108s;
}

.ha-logo circle:nth-child(4n) {
  animation-delay: -0.144s;
}

.ha-logo circle:nth-child(5n) {
  animation-delay: -0.18s;
}

.ha-logo circle:nth-child(6n) {
  animation-delay: -0.216s;
}

.ha-logo circle:nth-child(7n) {
  animation-delay: -0.252s;
}

.ha-logo circle:nth-child(8n) {
  animation-delay: -0.288s;
}

.ha-logo circle:nth-child(9n) {
  animation-delay: -0.324s;
}

.ha-logo circle:nth-child(10n) {
  animation-delay: -0.36s;
}

.ha-logo circle:nth-child(11n) {
  animation-delay: -0.396s;
}

.ha-logo circle:nth-child(12n) {
  animation-delay: -0.432s;
}

.ha-logo circle:nth-child(13n) {
  animation-delay: -0.468s;
}

.ha-logo circle:nth-child(14n) {
  animation-delay: -0.504s;
}
